<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="userEmail" value="account1@ad.com"/>
    <add key="userPassword" value="password"/>
    <add key="applicationRootUrl" value="http://accountsdemo.herokuapp.com/"/>
    <add key="browser" value="chrome"/>
  </appSettings>
</configuration>